# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Binaries
*.exe
*.dll
*.so
*.dylib
*.lib

# Jupyter
.ipynb_checkpoints

# Others
*.png
*.mp4
*.wav
*.mp3
*.avi
*.zip
