# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Chrome / Selenium
chrome_profile/
chromedriver-win32/

# Debug files
debug_page_*.html
debug_*.png

# Binaries
ffmpeg.exe

# Temp / misc
*.ftz

# Env files
.env
